In [9]:
import pandas as pd


pd.set_option('display.float_format', lambda x: ('%f' % x).rstrip('0').rstrip('.'))
pd.set_option('display.colheader_justify', 'center')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [10]:
df = pd.read_csv("../data/csv/index/2022QTR1", sep="|")
df.head()

,CIK,Company Name,Form Type,Date Filed,Filename
0,1000045,NICHOLAS FINANCIAL INC,10-Q,2022-02-09,edgar/data/1000045/0000950170-22-000940.txt
1,1000045,NICHOLAS FINANCIAL INC,8-K,2022-01-13,edgar/data/1000045/0000950170-22-000296.txt
2,1000045,NICHOLAS FINANCIAL INC,8-K,2022-01-31,edgar/data/1000045/0000950170-22-000568.txt
3,1000184,SAP SE,20-F,2022-03-03,edgar/data/1000184/0001104659-22-029675.txt
4,1000209,MEDALLION FINANCIAL CORP,10-K,2022-03-14,edgar/data/1000209/0000950170-22-003603.txt

In [11]:
df_listing = pd.read_csv("../data/csv/listing/2022QTR1_LIST.gz", sep="|")
df_listing.head()

,CIK,Company Name,Form Type,Date Filed,Filename
0,1000045,NICHOLAS FINANCIAL INC,10-Q,2022-02-09,https://sec.gov/Archives/edgar/data/1000045/000095017022000940/nick-20211231_htm.xml
1,1000209,MEDALLION FINANCIAL CORP,10-K,2022-03-14,https://sec.gov/Archives/edgar/data/1000209/000095017022003603/mfin-20211231_htm.xml
2,1000228,HENRY SCHEIN INC,10-K,2022-02-15,https://sec.gov/Archives/edgar/data/1000228/000100022822000016/hsicform10k20211225_htm.xml