In [2]:
import os
import numpy as np
import pandas as pd

pd.set_option('max_colwidth', None)
pd.set_option('display.max_columns', None)
pd.set_option('precision', 2)

In [11]:
YEAR = 2022
QTR = 4

# Master index

In [13]:
DIR_DATA_CSV_INDEX = "../data/csv/index"

In [15]:
indices = pd.read_csv(
    f"{DIR_DATA_CSV_INDEX}/{YEAR}QTR{QTR}",
    sep="|",
    dtype={'Accession':str}
)
indices

,CIK,Company Name,Form Type,Date Filed,Filename
0,1000045,NICHOLAS FINANCIAL INC,10-Q,2022-11-14,edgar/data/1000045/0000950170-22-024756.txt
1,1000045,NICHOLAS FINANCIAL INC,8-K,2022-10-27,edgar/data/1000045/0000950170-22-020230.txt
2,1000045,NICHOLAS FINANCIAL INC,8-K,2022-11-03,edgar/data/1000045/0000950170-22-021926.txt
3,1000045,NICHOLAS FINANCIAL INC,8-K,2022-11-04,edgar/data/1000045/0000950170-22-022210.txt
4,1000209,MEDALLION FINANCIAL CORP,10-Q,2022-11-03,edgar/data/1000209/0000950170-22-021831.txt
...,...,...,...,...,...
18664,99780,TRINITY INDUSTRIES INC,10-Q,2022-10-25,edgar/data/99780/0000099780-22-000136.txt
18665,99780,TRINITY INDUSTRIES INC,8-K,2022-10-25,edgar/data/99780/0000099780-22-000134.txt
18666,99780,TRINITY INDUSTRIES INC,8-K,2022-11-03,edgar/data/99780/0000099780-22-000138.txt
18667,9984,BARNES GROUP INC,10-Q,2022-10-28,edgar/data/9984/0000009984-22-000167.txt
18668,9984,BARNES GROUP INC,8-K,2022-10-28,edgar/data/9984/0000009984-22-000163.txt

# List

In [9]:
DIR_DATA_CSV_LIST = "../data/csv/listing"

In [10]:
listing = pd.read_csv(
    f"{DIR_DATA_CSV_LIST}/{YEAR}QTR{QTR}_LIST.gz",
    sep="|",
    dtype={'Accession':str}
)
listing

,CIK,Company Name,Form Type,Date Filed,Filename
0,1000045,NICHOLAS FINANCIAL INC,10-Q,2022-11-14,https://sec.gov/Archives/edgar/data/1000045/000095017022024756/nick-20220930_htm.xml
1,1000209,MEDALLION FINANCIAL CORP,10-Q,2022-11-03,https://sec.gov/Archives/edgar/data/1000209/000095017022021831/mfin-20220930_htm.xml
2,1000228,HENRY SCHEIN INC,10-Q,2022-11-01,https://sec.gov/Archives/edgar/data/1000228/000100022822000068/hsic-20220924_htm.xml
3,1000229,CORE LABORATORIES N V,10-Q,2022-10-28,https://sec.gov/Archives/edgar/data/1000229/000095017022020366/clb-20220930_htm.xml
4,1000298,IMPAC MORTGAGE HOLDINGS INC,10-Q,2022-11-14,https://sec.gov/Archives/edgar/data/1000298/000155837022017770/imh-20220930x10q_htm.xml
...,...,...,...,...,...
6221,99106,TRANS LUX Corp,10-Q,2022-11-10,https://sec.gov/Archives/edgar/data/99106/000151316222000128/tlx-20220930_htm.xml
6222,99250,"TRANSCONTINENTAL GAS PIPE LINE COMPANY, LLC",10-Q,2022-10-31,https://sec.gov/Archives/edgar/data/99250/000009925022000013/tgpl-20220930_htm.xml
6223,99302,TRANSCAT INC,10-Q,2022-11-02,https://sec.gov/Archives/edgar/data/99302/000143774922025534/trns20220924_10q_htm.xml
6224,99780,TRINITY INDUSTRIES INC,10-Q,2022-10-25,https://sec.gov/Archives/edgar/data/99780/000009978022000136/trn-20220930_htm.xml
6225,9984,BARNES GROUP INC,10-Q,2022-10-28,https://sec.gov/Archives/edgar/data/9984/000000998422000167/b-20220930_htm.xml

# XBRL

In [12]:
DIR_DATA_CSV_XBRL = "../data/csv/xbrl"

In [13]:
xbrl = pd.read_csv(
    f"{DIR_DATA_CSV_XBRL}/{YEAR}QTR{QTR}_XBRL.gz",
    sep="|",
    dtype={'Accession':str}
)
xbrl

,CIK,Company Name,Form Type,Date Filed,Year,Quarter,Filename,Filepath
0,1000697,WATERS CORP /DE/,10-K,2010-02-26,2010,1,https://sec.gov/Archives/edgar/data/1000697/00...,1000697/000095012310017583/wat-20091231.xml.gz
1,1001039,WALT DISNEY CO/,10-Q,2010-02-09,2010,1,https://sec.gov/Archives/edgar/data/1001039/00...,1001039/000119312510025949/dis-20100102.xml.gz
2,1001082,DISH Network CORP,10-K,2010-03-01,2010,1,https://sec.gov/Archives/edgar/data/1001082/00...,1001082/000095012310018671/dish-20091231.xml.gz
3,1001838,SOUTHERN COPPER CORP/,10-K,2010-02-26,2010,1,https://sec.gov/Archives/edgar/data/1001838/00...,1001838/000110465910010334/scco-20091231.xml.gz
4,1002638,OPEN TEXT CORP,10-Q,2010-02-04,2010,1,https://sec.gov/Archives/edgar/data/1002638/00...,1002638/000119312510021715/otex-20091231.xml.gz
5,1002910,AMEREN CORP,10-K,2010-02-26,2010,1,https://sec.gov/Archives/edgar/data/1002910/00...,1002910/000119312510043155/aee-20091231.xml.gz
6,1004155,AGL RESOURCES INC,10-K,2010-02-04,2010,1,https://sec.gov/Archives/edgar/data/1004155/00...,1004155/000100415510000016/agl-20091231.xml.gz
7,1004440,CONSTELLATION ENERGY GROUP INC,10-K,2010-02-26,2010,1,https://sec.gov/Archives/edgar/data/1004440/00...,1004440/000104746910001515/ceg-20091231.xml.gz

# GAAP

In [14]:
DIR_DATA_CSV_GAAP = "../data/csv/gaap"

In [15]:
gaap = pd.read_csv(
    f"{DIR_DATA_CSV_GAAP}/{YEAR}QTR{QTR}_GAAP.gz",
    sep="|",
    dtype={'Accession':str}
)
#df = df[df['CIK'] == 1000697]
#df.sort_values(['CIK', 'Year', 'Quarter'])
gaap

,CIK,Accession,Year,Quarter,FS,Rep,Type,Name,Value,Unit,Decimals,Context
0,1000697,000095012310017583,2010,1,pl,operating_cost,debit,us-gaap:costofgoodsandservicessold,5.948820e+08,USD,-3.0,TwelveMonthsEnded_31Dec2009
1,1000697,000095012310017583,2010,1,pl,gross_profit,calc,us-gaap:grossprofit,9.038180e+08,USD,-3.0,TwelveMonthsEnded_31Dec2009
2,1000697,000095012310017583,2010,1,pl,operating_expense_rd,debit,us-gaap:researchanddevelopmentexpense,7.715400e+07,USD,-3.0,TwelveMonthsEnded_31Dec2009
3,1000697,000095012310017583,2010,1,pl,operating_expense_sga,debit,us-gaap:sellinggeneralandadministrativeexpense,4.214030e+08,USD,-3.0,TwelveMonthsEnded_31Dec2009
4,1000697,000095012310017583,2010,1,pl,operating_income,calc,us-gaap:operatingincomeloss,3.946020e+08,USD,-3.0,TwelveMonthsEnded_31Dec2009
...,...,...,...,...,...,...,...,...,...,...,...,...
221,1004440,000104746910001515,2010,1,NaN,NaN,debit,us-gaap:longtermdebtnoncurrent,4.814000e+09,USD,-5.0,I2009
222,1004440,000104746910001515,2010,1,NaN,NaN,debit,us-gaap:otherliabilitiesnoncurrent,3.888000e+08,USD,-5.0,I2009
223,1004440,000104746910001515,2010,1,NaN,NaN,debit,us-gaap:minorityinterest,7.530000e+07,USD,-5.0,I2009
224,1004440,000104746910001515,2010,1,bs,stockholders_equity,calc,us-gaap:stockholdersequityincludingportionattr...,3.229600e+09,USD,-5.0,I2009_CommonStockMember
225,1004440,000104746910001515,2010,1,bs,total_equity_and_liabilities,calc,us-gaap:liabilitiesandstockholdersequity,2.354440e+10,USD,-5.0,I2009